<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Hudini - Multimodal Journey Planner</title>

        <!-- Leaflet CSS -->

        <link href="https://unpkg.com/maplibre-gl/dist/maplibre-gl.css" rel="stylesheet" />
        <script src="https://unpkg.com/maplibre-gl/dist/maplibre-gl.js"></script>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/public/styles/style.css" />
        <link href="main.css" rel="stylesheet" type="text/css" />
        <link href="../public/styles/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <!-- Header -->
        <div class="header">
            <button class="menu-btn" id="menuBtn">☰</button>
            <div class="logo">Hudini <span class="logo-subtitle">California</span></div>
            <div class="search-container">
                <span class="search-icon">🔍</span>
                <input type="text" class="search-box" id="searchBox" placeholder="Search for a place" />
                <button class="clear-search" id="clearSearch">×</button>
            </div>
            <a href="/api/test">Test Map</a>
            <a href="/">Home</a>
        </div>
        <h1>Houdini Backend Server</h1>
        <a href="/api/test">Click to See API</a>
        <a href="/api/transit/stops.geojson">Stops</a>
        <!-- Custom JavaScript -->
        <script src="/public/scripts/map.js"></script>
    </body>
</html>
